/* style CSS */
body{
    font-family: 'lato', sans-serif;
    font-size: 14px;
    background: #fff;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 1280px;
    margin:auto;
}
/* header */
.header-top{
    background: #000;
    padding: 15px 0 15px 20px;
}
.header-detail{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-top a:hover{
    color: #EE3924;
}
.right-panel select{
    background: none;
    color: #fff;
    margin-right: 30px;
    border: none;
    font-size: 12px;
    line-height: 14px;
}
.header-top .right-panel a{
    margin-right: 30px;
}
.right-panel select option{
    color: #000;
}
.header{
    background: #FFFCF9;
}
.logo img{
    width: 100px;
}
.main-header{
    padding: 15px 0;
    display: flex;
    line-height: 0;
    justify-content: space-between;
    align-items: center;
}
.menu > ul{
    display: flex;
    align-items: center;
}
.menu-icon{
    display: none;
}
.menu li img{
    margin-left: 5px;
}
.menu li a{
    color: #000;
}
.menu li{
    margin: 0;
    font-size: 13px;
}
.menu > ul > li{
    margin: 10px 30px 0 0;
    font-size: 16px;
    text-transform:capitalize;
    line-height: 20px;
    position: relative;
}
.menu li:active a{
    color: #EE3924;
}
.menu li:hover a{
    color:#323232;
}
.header .right-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu > ul > li:hover > a{  
    color: #EE3924;
    transition: all 0.5s ease;
}
/* Menu Dropdown Start*/

.menu li ul{
    position: absolute;
    left: 120;
    top: 35px;
    background: #fff;
    border-radius: 10px;
    width: 180px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li ul li{
    font-size: 14px;
    color: #323232;
    border-bottom: 1px solid #e9e9e9;
}
.menu li ul li:last-child{
    border-bottom: 0;
}
.menu li ul li a{
    padding: 12px 15px;
    color: #323232;
    display: block;
}
.menu li ul li a:hover{
    background:#FFFCF9;
    color: #EE3924;
    padding: 10px;
    transition:all 0.5s ease;
}

.menu ul li:hover ul{
    display: block;
}
/* Menu Dropdown End*/
.icons img{
    width: 18px;
}
.icons ul{
    display: flex;
}
.icons li{
    margin: 10px 20px 0 0;
}
.icons{
    margin-left:50px;
}
/* banner */
.banner{
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    width: 100%;
}
.over-lay{
    background: rgb(22, 1, 1, 0.5);
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
}
.heading h1{
    font-size: 48px;
    line-height: 48px;
    width: 451px;
    color: #fff;
    font-family: Taviraj;
    font-weight: 700;
}
.heading p{
    color: #fff;
    margin-top: 34px;
    width: 502px;
    font-size: 20px;
    letter-spacing: 0.6px;
}
.heading a {
    background: #fff;
    margin-top: 40px;
    width: 160px;
    border: none;
    text-align: center;
    color: #000;
    padding: 20px;
    font-size: 20px;
}
.heading a:hover{
    color: #fff;
    background: #EE3924;
}
.best-categarious{
    background: #FFFCF9;
}
.best-categarious ul{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.best-categarious img{
    width:100px;
    height: 120px; 
}
.best-categarious span{
    display:block;
    color: #625C5C;
    font-size: 20px;
}
.best-categarious li{
    margin-right: 50px;
    text-align: center;
}
.best-categarious li a:hover{
    color: #EE3924;
}
.best-categarious li a{
    color: #000;
    padding-top: 20px;
    font-size: 24px;
    display: inline-block;
}
.heading-one{
    display: flex;
    justify-content: space-between;
}
.heading-one h2{
    color: #150101;
    font-size: 36px;
}
.card-wrapper-one li{
    margin-right: 30px;
    position: relative;
}
.icon a{
    display: block;
}
.icon a img{
    width: 35px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}
.icon {
    position: absolute;
    top: 20px;
    right: 20px;
}
.card-wrapper-one img{
    width: 300px;
}
.sale{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    background: #EE3924;
    padding: 8px 18px;
    color: #fff;
}
.rings{
    position: absolute;
    top: 260px;
    left: 20px;
    font-size: 24px;
    color: #272727;
}
.text span{
    font-size: 16px;
    color: #625C5C;
    line-height: 30px;
    padding-right: 15px;
    font-weight: 400;
    text-decoration: line-through;
}
.text h4{
    color: #EE3924;
    font-size: 20px;
    font-weight: 400;
}
.card-wrapper-one ul{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.text h3:hover{
    color:#EE3924;
}
.star img{
    width: 20px;
    margin: 20px 0 10px;
    
}
.text h3{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 30px;
}
.text h5{
    font-size: 20px;
    line-height: 30px;
    color: #625C5C;
    font-weight: 400;
}
.service{
    display: flex;
    align-items: center;
    margin: 100px 0;
}
.service img{
    width: 50px;
    margin:0px 40px 0px 30px;
}
.free-delivery{
    display: flex;
    margin-right: 37px;
    border-left: 1px solid rgb(224, 224, 224);
}
.free-delivery:first-child{
    border-left: none;
}
.free-delivery:last-child{
    margin-right: 0;
}
.shipping h3:hover{
    color: #EE3924;
}
.shipping h3{
    font-size: 20px;
    font-weight: 400;
}
.shipping p{
    font-size: 16px;
    font-weight: 400;
    color: #878787;
}
.offer{
    background: #fff;
    display: flex;
    width: 100%;
}
.details{
    flex-direction: column;
    justify-content: center;
}
.banner-one{
    background-image: url(../image/banner-one.png);
    border-radius: 10px;
    width: 47%;
    padding-left: 20px;
    margin-left: 30px;
}
.button img{
    width: 38px;
    margin-bottom: 30px;
}
.banner-one .button img{
    vertical-align: middle;
}

.banner-three{
    background-image: url(../image/banner-two.png);
    width: 47%;
    padding-left: 20px;
    margin-left: 20px;
}
.banner-three h3{
    color: #EE3924;
    font-size: 20px;
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: 400;
}
.banner-three h4{
    color: #000;
    width: 250px;
    line-height: 40px;
    margin: 30px 0 10px;
    font-size: 32px;
    font-weight: 700;
}
.banner-three .button{
    color:#EE3924;
    font-size: 20px;
    text-transform: capitalize;
}
.banner-three .button:hover{
    color: #000;
}
.banner-three .button img{
    vertical-align: middle;
}
.banner-one h3{
    color: #EE3924;
    font-size: 20px;
    width: 300px;
    margin-top: 50px;
    font-weight: 400;
}
.banner-one h4{
    color: #000;
    width: 250px;
    margin: 30px 0 10px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 700;
}
.banner-one .button{
    color:#EE3924 ;
    font-size: 20px;
    text-transform: capitalize;
}
.banner-one .button:hover{
    color: #000;
}
.heading-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.arrow{
    display: flex;
    align-items: center;
}
.arrow a:last-child img{
    margin-top: 6px;
    border-left: 1px solid rgb(224, 224, 224);
    padding-left: 10px;
    margin-left: 10px;
}
.option a{
    color: #000;
    font-size: 32px;
}
.option li:first-child a{
    border-bottom: 1px solid #EE3924;
    padding-bottom: 10px;
}
.option span{
    color: #625C5C;
}
.option span:hover{
    color: #000;
}
.option ul{
    display: flex;
}
.option li{
    margin: 30px 40px 10px 0;
}
.card-wrapper-two img{
    width: 300px;
}
.text-one span{
    font-size: 16px;
    color: #625C5C;
    line-height: 30px;
    padding-right: 15px;
    font-weight: 400;
    text-decoration: line-through;
}
.text-one h4{
    color: #EE3924;
    font-size: 20px;
    font-weight: 400;
}
.card-wrapper-two ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}
.card-wrapper-two li{
    margin-right: 30px;
    position: relative;
}
.icon-one a{
    display: block;
}
.icon-one a img{
    width: 35px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}
.icon-one {
    position: absolute;
    top: 20px;
    right: 20px;
}
.card-wrapper-two img{
    width: 290px;
}
.add-cart a{
    color: #000;
    position: absolute;
    bottom: 250px;
    left: 60px;
    font-size: 24px;
    background: #fff;
    border: 1px solid#D9D9D9;
    padding: 10px 25px;
    border-radius: 200px;
}
.add-cart a:hover{
    background: #EE3924;
    color: #fff;
}
.text-one h3:hover{
    color:#EE3924;
}
.star-one img{
    width: 20px;
    margin: 20px 0 10px;
    
}
.text-one h3{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 30px;
}
.text-one h5{
    font-size: 20px;
    line-height: 30px;
    color: #625C5C;
    font-weight: 400;
    margin-bottom: 60px;
}
.our-partners{
    background: #F8F8F8;
    margin: 90px 0;
}
.our-partners h2{
    color: #150101;
    font-size: 36px;
    line-height: 42px;
    padding: 40px 30px 10px;
}
.our-partners img{
    height: 125px;
}
.our-partners ul{
    display: flex;
    justify-content: space-between;
}
.our-partners li{
    padding: 20px 30px 50px;
}
.sale-one{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    background: #EE3924;
    padding: 8px 18px;
    color: #fff;
}
.rings-one{
    position: absolute;
    top: 260px;
    left: 20px;
    font-size: 24px;
    color: #272727;
}
.testimonial{
    background-image: url(../image/testimonial.jfif);
    background-repeat: no-repeat;
    height: 600px;
    padding: 10px;
}
.testimonial-card li{
    background: #fff;
    width: 40%;
    margin: 40px 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}
.left-panel-3{
    margin: 30px;
}
.right-panel-3 h3{
    font-size: 20px;
    font-weight: 400;
    padding: 60px 20px 0;
}
.right-panel-3 h4{
    color: #625C5C;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 0;
}
.card-detail h4{
    font-size: 16px;
    color: #595959;
    padding-left: 30px;
}
.card-detail p{
    color: #595959;
    width: 80%;
    font-size: 14px;
    padding: 30px;
    line-height:20px ;
}
.star-two{
    margin: 30px;
}
.panel{
    display:flex;
}
.testimonial-card ul{
    justify-content: center;
    display: flex;
}
.newsletter{
    background: #EE3924;
    margin-top: 70px;
    display: flex;
}
.newsletter .left-panel-4{
    width: 48%;
    color: #fff;
}
.newsletter .left-panel-4 h3{
    font-size: 16px;
    font-weight: 400;
    padding: 40px 20px 10px;
}
.newsletter .left-panel-4 h2{
    font-size: 32px;
    line-height: 38px;
    padding: 10px 20px;
}
.newsletter .left-panel-4 p{
    font-size: 20px;
    padding: 10px 20px 40px;
}
.input input{
    border: none;
    padding: 23px 200px 23px 24px;
    background: #f5f5f5;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    line-height: 20px;
}
.input{
    display:inline-block;
}
.newsletter .right-panel-4{
    padding: 70px 0 40px 100px;
    width: 50%;
}
.input-search a{
    padding: 25px 40px;
    border-radius:0px 50px 50px 0px;
    margin-left: -4px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    background: #1E1E1E;
}
.input-search{
    display: inline-block;
}
.footer{
    background: #F8F8F8;
    padding: 70px 30px;
    display: flex;
}
.footer .logo-image{
    width: 20%;
}
.footer .logo-image p{
    color: #817F7F;
    font-size: 20px;
    padding: 30px 0;
    line-height: 24px;
}
.footer-icon ul{
    display: flex;
}
.footer-icon a img{
    width: 50px;
    background:rgb(19, 0, 0, 0.3);
    border-radius: 50%;
    margin-right: 20px;
}
.our-compuny{
    width: 25%;
    padding: 15px 80px;
}
.our-compuny h3{
    color: #000;
    font-size: 20px;
    line-height: 24px;
}
.our-compuny li{
    color: #595959;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 34px;
}
.customer-service{
    width: 19%;
    padding: 15px 0;
}
.customer-service h3{
    color: #000;
    font-size: 20px;
    line-height: 24px;
}
.head-office{
    margin: 30px 0 0;
}
.customer-service li{
    color: #595959;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 34px;
}
.Our-Category{
    width: 20%;
    padding: 15px 0;
}
.Our-Category h3{
    color: #000;
    font-size: 20px;
    line-height: 24px;
}
.Our-Category li{
    color: #595959;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 34px;
}
.contact{
    width: 25%;
    padding: 15px 0;
    margin-left: 50px;
}

.contact img{
    width: 18px;
    vertical-align: middle;
}
.contact a{
   padding-bottom: 20px; 
}
.contact ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.location{
    margin-bottom: 20px;
}
.contact li{
    color: #000;
}
.contact h3{
    color: #000;
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 24px;
}
.black-strip{
    background: #150202;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.black-strip h4{
    color: #fff;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.black-strip img{
    width:100px;
    margin-right: 8px;
    height: 40px;
    background: #fff;
}
.contact-details ul{
    display: flex;
    align-items: center;

}
.contact-details li a{
    color: #625C5C;
    font-size: 20px;
}
.location img{
    margin-right: 10px;
}
.location li{
    display: flex;
    align-items: center;
}



/* reponsive Css */

@media screen and (max-width:767px){
    
    
    .container {
        width:100%;
        padding: 0 15px;
    }
    .header{
        display: none;
    }
    a{
        font-size: 12px;
        text-align: center;
    }
    .menu li {
        display: none;
    }
    .header-top .right-panel a {
        display: none;
    }
    .header-top {
        padding: 10px 0 10px 36px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .icons ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icons li {
        margin: 0px 0px 0 20px;
    }
    .menu-icon img{
        width: 20px;
    }
    .right-panel select {
        display: none;
    }
    .banner {
        background-image: url(../image/banner.png);
        background-repeat: no-repeat;
        width: 100;
    }
    .banner img{
        width: 100vw;
        height: 100vh;
    }
     .heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .heading h1 {
        font-size:30px;
        line-height: 28px;
        width: 100%;
        margin-left:-15px ;
        text-align: center;
    }
    .heading p {
        font-size: 16px;
        padding: 0 ;
        width: 100%;
        margin-left:-12px ;
        width: 100vw;
    }
    .heading a {
        text-align: center;
        width: 35vw;
        font-size: 16px;
        display: inline-block;
        margin: 30px auto 0;
    }
    .best-categarious ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0 50px;
    }
    .best-categarious li a {
        font-size: 18px;
    }
    .best-categarious span {
        font-size: 16px;
    }
    .best-categarious img {
        width:auto;
        height: 50px;
        margin-top: 30px;
    }
    .best-categarious li {
        text-align:left;
        width: 20%;
        padding: 2px;
        display: inline-block;
    }
    .best-categarious li {
       margin: 25px;
       text-align: center;
    }
    .heading-one h2 {
        color: #150101;
        font-size: 24px;
        display: inline-block;
    }
    .card-wrapper-one ul {
        flex-direction: column;
        justify-content:space-between;
    }
    .card-wrapper-one li{
        width: 100%;
        margin-right: 0;
    }
    .card-wrapper-one  img {
        width: 100%;
    }
    .text span {
        font-size: 12px;
        line-height: 16px;
    }
    .text img{
        width: 20px;
    }
    .text h4 {
        font-size: 14px;
    }
    .text h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .text h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .sale {
        font-size: 14px;
        padding: 5px 14px;
        color: #fff;
    }
    .rings {
        font-size: 20px;
        line-height: 24px;
    }
    .icon a img {
        width: 25px;
        border-radius: 3px;
        padding: 3px;
    }
    .service {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
    }
    .shipping h3 {
        font-size: 16px;
    }
    .shipping p {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .service img {
        margin: 0 ;
        vertical-align: middle;
    }
    .shipping{
        margin-left: 20px;
    }
    .free-delivery{
        margin-top: 30px;
    }
    .free-delivery {
        margin-top: 30px;
        border-left:none;
    }
    .offer {
        background: #fff;
        display: flex;
        flex-wrap: wrap;
    }
    .banner-one {
        width: 100%;
        padding-left: 20px;
        margin: 30px 15px;
    }
    .banner-one h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .banner-one h4 {
        margin: 30px 0 10px;
        line-height: 24px;
        font-size: 20px;
    }
    .banner-one .button {
        font-size: 16px;
    }
    .button img {
        margin-left: -10px;
    }
    .banner-three {
        width: 100%;
        border-radius: 10px;
        padding-left: 20px;
        margin: 0 15px 30px;
    }
    .banner-three h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .banner-three h4 {
        margin: 30px 0 10px;
        line-height: 24px;
        font-size: 20px;
    }
    .banner-three .button {
        font-size: 14px;
    }
    .option li {
        margin: 30px 15px 10px 0;
    }
    .option a {
        font-size: 18px;
    }
    .card-wrapper-two ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-wrapper-two li {
        margin-right: 0px;
        position: relative;
    }
    .text-one h4 {
        font-size: 16px;
    }
    .text-one h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .text-one h5 {
        font-size:16px;
        line-height: 20px;
    }
    .sale-one {
        font-size: 14px;
        line-height: 18px;
        padding: 4px 14px;
    }
    .add-cart a {
        bottom: 220px;
        left: 80px;
        font-size: 16px;
        padding: 10px 25px;
    }
    .icon-one a img {
        width: 30px;
        padding: 3px;
    }
    .our-partners {
        margin: 30px 0;
        width: 100vw;
    }
    .our-partners h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .our-partners ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .our-partners img {
        height: 100px;
        width: auto;
    }
    .our-partners li {
        padding: 20px 10px 30px;
    }
    .testimonial {
        height: 1100px;
    }
    .heading-one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    .heading-one h2 {
        font-size: 20px;
        padding-top: 10px;
        line-height: 28px;
    }
    .testimonial-card ul {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .testimonial-card li {
        background: #fff;
        width: 100%;
        margin: 40px 10px;
        box-shadow: 0px 0px 15px rgb(0 0 0 / 8%);
    }
    .right-panel-3 h3 {
        font-size: 16px;
        padding: 50px 10px 0;
    }
    .right-panel-3 h4 {
        font-size: 14px;
        padding: 10px 20px 0;
    }
    .card-detail h4 {
        font-size: 16px;
    }
    .card-detail p {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .newsletter {
        background: #EE3924;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    .newsletter .left-panel-4 {
        color: #fff;
        width: 100%;
        text-align: center;
    }
    .newsletter .left-panel-4 h3 {
        font-size: 14px;
    }
    .newsletter .left-panel-4 h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .newsletter .left-panel-4 p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .newsletter .right-panel-4 {
        padding: 20px ;
        width: 100%;
    }
    .input input {
        padding: 20px 70px 20px 20px;
        font-size: 14px;
    }
    .input-search a {
        padding: 24px;
        font-size: 14px;
    }
    .footer {
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .footer .logo-image p {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .footer .logo-image {
        width: 100%; 
    }
    .footer-icon ul {
        justify-content: center;
        align-items: center;
    }
    .our-compuny {
        padding:30px 0 10px;
        width: 100%;
        text-align: left;
    }
    .our-compuny li {
        display: none;
    }
    .customer-service {
        padding:20px 0 10px;
        width: 100%;
        text-align: left;
    }
    .customer-service li {
        display: none;
    }
    .Our-Category {
        width: 100%;
        text-align: left;
    }
    .Our-Category li {
        display: none;
    }
    .contact li{
        display: none;
    }
    .black-strip {
        background: #150202;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .black-strip h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .black-strip img {
        width: 50px;
        text-align: center;
        margin-right: 8px;
        height: 40px;
        background: #fff;
    }
}